@import url('https://fonts.googleapis.com/css?family=Lobster|Teko&display=swap');
*{
	padding: 0;
	margin: 0;
	font-family: 'Teko', sans-serif;
}
body{
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 100%;
	height: 100%;
}
body>div{
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.left{ 
	background-color: #cce7ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.right{
	position: relative;
	background-color: #17274e;
}

.rocket{ 
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 40px;
	height: 200px;
	margin-left: -20px;
	transition: bottom 1s;	
	z-index: 2;
}
.rocket-elements{
	position: relative;
	width: 100%;
	height: 100%;
}
.rocket-body{
	position: absolute;
	background-color: #fee;
	height: 200px;
	width: 100%;
}
.rocket-head{
	position: absolute;
	left: 0px;
    top: -18px;
    width: 40px;
    height: 39px;
    transform: rotate(45deg);
    background-color: #fee;
    border-radius: 25px;
}

.rocket-window{
	position: absolute;
	z-index: 2;
	left: 5px;
	top: 20px;
	background-color: #ddd;
	border-radius: 20px;
	width: 30px;
	height: 30px;
}
.rocket-fire{
	position: absolute;
	background-color:#ffc107;
	width: 100%;
	height: 0px;
	bottom: 0;
}
.rocket-wing1{
	position: absolute;
    width: 20px;
    height: 100px;
    transform: rotate(14deg);
    left: -2px;
    top: 80px;
    background-color: #c3bebe;
}

.rocket-wing2{
	position: absolute;
    width: 20px;
    height: 100px;
    transform: rotate(346deg);
    right: -2px;
    top: 80px;
    background-color: #c3bebe;
}
body.body-state1 .rocket{
	transition: none;
}

body.body-state2 .rocket-fire{
	animation: fire 1s ease-out alternate infinite;
	-webkit-animation: fire 1s ease-out alternate infinite;
}

@keyframes fire{
	0%{ height: 5px }
	100%{ height: 20px }
}

@-webkit-keyframes fire{
	0%{ height: 5px }
	100%{ height: 20px }
}


body.body-state3 .rocket,body.body-state4 .rocket{
	bottom: 1000px;
}

body.body-state3 .rocket-fire,body.body-state4 .rocket-fire{
	height: 20px;
}

.stars{
	z-index: 1
}
.stars div{
	position: absolute;
	border-radius: 50%;
	background-color: #f5eeb6;
}

.ground{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 20px;
	width: 100%;
	background-color: #333;
}

h1{ margin-bottom: 20px;font-family: 'Lobster', cursive; text-align: center; }

a{
	display: block;
	border-radius: 50px;
	background: #fff;
	text-align: center;
	color: #17274e;
	text-decoration: none;
	line-height: 3em;
	width: 120px;
	margin: 0 auto;
}

.state1, .state2, .state3, .state4, .state5{
	display: none;	
}

body.body-state1 .state1{ display: block; }
body.body-state2 .state2{ display: block; }
body.body-state3 .state3{ display: block; }
body.body-state4 .state4{ display: block; }
body.body-state5 .state5{ display: block; }
